<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
	<div class="row">
		<div class="card col-md-12">
			<div class="card-body">
				<div class="card-title mb-4">
					<div class="d-flex justify-content-start">
						<div class="image-container myContainer">
							<img src="<%= user.avatar %>" id="imgProfile" class="avatarImage">
							<% if(currentUser && user._id.equals(currentUser._id)){ %>
							<div class="middle">
								<button type="button" class="btn btn-outline-light" id="btnChangePicture" data-toggle="modal" data-target="#changeAvatar">
									Edit
								</button>
							</div>
							<% } %>
							<input type="file" style="display: none;" id="profilePicture" name="file">
						</div>
						<div class="userData ml-3">
							<h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);"><%= user.username %></a></h2>
							<h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
							<h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
						</div>
						<div class="ml-auto">
							<input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
						</div>
					</div>
				</div>
				<nav>
					<div class="nav nav-tabs mb-3" id="myTab" role="tablist">
						<a class="nav-item nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
						<a class="nav-item nav-link" id="camps-tab" data-toggle="tab" href="#camps" role="tab" aria-controls="connectedServices" aria-selected="false">Camp Posts</a>
					</div>
				</nav>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight:bold;">Full Name</label>
							</div>
							<div class="col-md-8 col-6">
								<%= user.firstName + " " + user.lastName %>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 col-md-2 col-5">
								<label style="font-weight:bold;">Email</label>
							</div>
							<div class="col-md-8 col-6">
								<%= user.email %>
							</div>
						</div>
						<div class="row">
							<button type="button" class="btn btn-outline-dark">
								<a href="/forgot">Reset Password</a>
							</button>
						</div>
					</div>
					<div class="tab-pane fade" id="camps" role="tabpanel" aria-labelledby="camps-tab">
						<div class="row text-center" style="display:flex; flex-wrap: wrap;">
							<% campgrounds.forEach(function(campground) { %>
								<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
									<div class="card bg-dark text-white myCard">
											<img src="<%= campground.image %>" alt="<%= campground.name %>" class="card-img-top cardImage">
										<div class="card-img-overlay">
											<h5 class="card-title middle" style="left: 50%;">
												<a type="button" class="btn btn-outline-light" id="btnChangePicture" href="/campgrounds/<%= campground.id %>">More</a>
											</h5>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="changeAvatar" tabindex="-1" aria-labelledby="changeAvatarLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeAvatarLabel">Change Avatar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formAvatar">
					<div class="form-group">
						<label for="image">Image</label>
						<input type="file" id="image" name="image" accept="image/*" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" form="formAvatar" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>